{#
/**
 * @file
 * Template for a user view.
 */
#}
{%
  set classes = [
  'user',
  view_mode|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <h3><a href="/user/{{ user.id }}">{{ user.field_first_name.value }} {{ user.field_last_name.value }}</a></h3>
    {{ content|without('field_first_name','field_last_name') }}
  {% endblock %}
</div>

