{#
/**
 * @file
 * Template for a user view.
 */
#}
{% set classes = [
  'user',
  'user--' ~ view_mode|clean_class,
] %}
{# {{ drupal_breakpoint() }} #}
<article{{ attributes.addClass(classes) }}>
  {% block content %}
    <h2><a href="/user/{{ user.id }}">{{ user.field_first_name.value }} {{ user.field_last_name.value }}</a></h2>
    <a href="tel:{{user.field_phone.value}}">{{user.field_phone.value}}</a>
    {# {{- content|without('summary') -}} #}
  {% endblock %}
</article>

