{#
/**
 * @file
 * Template for a user search result.
 */
#}
{%
  set classes = [
  'user',
  'overflow-auto',
  view_mode|clean_class,
  'mb-4',
  'border-bottom',
  'row',
  'g-0',
]
%}

<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <div class="col-lg-10 col-md-12 mb-4">
      <h2 class="h4 mb-2"><a href="/user/{{ user.id }}">{{ user.field_last_name.value }}, {{ user.field_first_name.value }}</a></h2>
      {% if not ('no.email' in user.mail.value) %}
        {{ content.mail }}
      {% endif %}
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          {{ content.field_title }}
          {{ content.field_section }}
          {{ content.field_division_name }}
          {{ content.field_primary_groups }}
        </div>
        <div class="col-lg-6 col-sm-12">
          {{ content.field_phone }}
          {{ content.field_mobile_phone }}
          {% if user.field_keep_mobile_phone_private.value %} Keep mobile phone private {% endif %}
          {{ content.field_workspace }}
        </div>
      </div>
    </div>
    {% if content.user_picture|render|striptags %}
    <div class="col-lg-2 col-md-12 mb-4">
      {{ content.user_picture }}
    </div>
    {% endif %}
  {% endblock %}
</div>
