{#
/**
 * @file
 * Template for a user view.
 */
#}
{%
  set classes = [
  'user',
  view_mode|clean_class,
  'mb-4',
]
%}

<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <h3 class="mb-2"><a href="/user/{{ user.id }}">{{ user.field_first_name.value }} {{ user.field_last_name.value }}</a></h3>
    <div class="mb-2">{{ user.field_title.value }}</div>
    <div class="mb-2"><a href="tel:{{ user.field_phone.value }}">{{ user.field_phone.value }}</a></div>
    <div class="mb-2 text-break"><a href="mailto: {{ user.mail.value }}">{{ user.mail.value }}</a></div>
  {% endblock %}
</div>
