{#
/**
  * @file
  * Template for the main page.
  */
#}

<div class="page">

  <header id="header" class="page__header">
    {% block alerts %}
      {% if page.alerts %}
        {{ page.alerts }}
      {% endif %}
    {% endblock %}

    <div class="bg-dark">
      {% embed '@westy/navbar/navbar.twig' with {
        placement: 'sticky-top',
        container: 'fluid',
        color: 'dark',
      } %}

        {% block branding %}
          {% if page.navbar_branding %}
            {{ page.navbar_branding }}
          {% endif %}
        {% endblock %}

        {% block left %}
          {% if page.navbar_left %}
            <div class="me-auto">
              {{ page.navbar_left }}
            </div>
          {% endif %}
        {% endblock %}

        {% block right %}
          {% if page.navbar_right %}
            {{ page.navbar_right }}
            <form class="d-flex" accept-charset="UTF-8" action="/search" method="get">
              <div class="input-group w-auto">
                <input class="form-control" maxlength="128" name="search" size="20" placeholder="Search {{ rows[0].content|render|striptags|trim }}" title="Enter the terms you wish to search for." type="search" />
                <button class="btn btn-secondary" type="submit">
                  <i class="fa fa-magnifying-glass"></i>
                  <span class="visually-hidden">Search</span>
                </button>
              </div>
            </form>
          {% endif %}
        {% endblock %}
      {% endembed %}
    </div>
  </header>
  {{ page.preheader }}
  <main id="main-content" class="container">
    {% if page.header|render|striptags|trim is not empty %}
      <div class="row align-items-center">
        <header class="page__sub_header col">
          {{ page.header }}
        </header>
      </div>
    {% endif %}
    <div class="row">
    {% if page.content %}
      <div class="page__content col order-md-2 order-sm-1">
          {{ page.content }}
      </div>
    {% endif %}
    {% if page.side %}
      <div class="page__side col-lg-3 col-md-5 col-sm-12 order-md-2 order-sm-2 border-left">
          {{ page.side }}
      </div>
    {% endif %}
    {% if page.menu %}
      <div class="page__menu col-lg-3 col-md-7 col-sm-12 order-lg-1 order-md-3 order-sm-3 border-right">
        {{ page.menu }}
      </div>
    {% endif %}
    </div>

    {% if page.content_bottom is not empty %}
      <div class="page__content_bottom col">
        {{ page.content_bottom }}
      </div>
    {% endif %}

  </main>

  <footer class="page__footer container-fluid py-5 bg-dark page__footer__blocks">
    {{ page.footer }}
  </footer>

  <a class="westy-back-to-top btn btn-dark d-none" href="#header">{{ 'Back to top'|t }}</a>
</div>
