{# Set Alert Type #}
{% if node.field_severity.value == 20 %}
    {% set alertType = 'warning' %}
    {% set iconName = 'warning' %}
{% else %}
    {% set alertType = 'info' %}
    {% set iconName = 'information' %}
{% endif %}

{# Defaults #}
{% set isDismissible = isDismissible ?? true %}

{% set alertIcon %}
{% include "@westy/icon/icon.twig" with {
    name: iconName,
    size: 'lg',
    } only %}
{% endset %}

{# CLASSES #}
{% set classes = [
    'bg-' ~ alertType,
    'text-light',
    isDismissible ? 'westy-dismissible' : '',
] %}

{# TWIG #}
<div {{ attributes.addClass(classes) }} data-nid="{{ node.id }}" {% if node.changed %} data-changed="{{ node.changed.value }}" {% endif %}>
    <div class="container">
        <div class="d-flex flex-row p-3">
            {{ alertIcon }}
            <div class="w-100">
                <div class="fw-bold">{{ label }}</div>
                <div class="global-alert-content">{{ content }}</div>
                <span class="small">
                    Last updated:
                    {{ node.changed.value|date('F j, Y g:i a') }}
                </span>
            </div>

            {% if isDismissible %}
            <div class="float-end top-0">
                <button type="button" class="border-0 bg-{{ alertType }} text-light westy-notification__close" data-dismiss="alert" aria-label="Dismiss alert">
                    <span aria-hidden="true" class="alert__close-contents">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Dismiss</span>
                </button>
            </div>
            {% endif %}

        </div>
    </div>
</div>

