{# DEFAULTS #}
{# {{ drupal_break() }} #}
{% if node.field_severity.value == 20 %}
  {% set alertType = 'warning' %}
{% else %}
{# bg-alert is currently in use for our success messages #}
  {% set alertType = 'blue' %}
{% endif %}
{# {% set id = id|default('pl-demo-alert') %} #}

{# CLASSES #}
{% set classes= [
	  'bg-' ~ alertType,
     'text-light',
     'p-3'
   
]%}

{# TWIG #}
<div class="{{ classes|join(' ')|trim }}"
      data-nid="{{ id }}"
   {% if changed %}
      data-changed="{{ changed }}"
   {% endif %}
   >

<div class="container">
        <div class="fw-bold">{{ label }}</div>
        <div>{{ content }}</div>
</div>
</div>