{# Set Alert Type #}
{% if node.field_severity.value == 20 %}
	{% set alertType = 'warning' %}
	{% set TypeName = 'warning' %}
{% else %}
	{% set alertType = 'info' %}
	{% set TypeName = 'information' %}
{% endif %}

{% set alertIcon %}
{% include "@westy/icon/icon.twig" with {
    name: TypeName,
    size: 'lg',
  } only %}
{% endset %}

{# CLASSES #}
{% set classes= [
	  'bg-' ~ alertType,
     'text-light',
     'p-3'
   
]%}

{# TWIG #}
<div class="{{ classes|join(' ')|trim }}" data-nid="{{ id }}" {% if changed %} data-changed="{{ changed }}" {% endif %}>
	<div class="container">
		<div class="alert-wrapper">
			{{ alertIcon }}
			<div class="alert_wrapper-inner">
				<div class="fw-bold">{{ label }}</div>
				<div>{{ content }}</div>
			</div>
		</div>
