{# Set Notification Type #}
{% if node.field_notification_serverity.value == 20 %}

	{% set notiType = 'warning' %}
	{% set Typename = 'warning' %}

{% else %}

	{% set notiType = 'info' %}
	{% set Typename = 'information' %}
{% endif %}

{% set isDismissible = isDismissible|default(TRUE) %}
{% set is_draft = is_draft|default(FALSE) %}
{% set notiType = notiType|default('warning') %}

{% set alertIcon %}
{% include '@westy/icon/icon.twig' with{
	name: Typename,
	size: 'lg',
} only %}
{% endset %}
{# CLASSES #}
{% set classes= [
  'text-light',
  'p-3',
  'container',
  'bg-' ~ notiType,
  isDismissible ? 'cloudy-notification--dismissible',
  is_draft ? 'cloudy-notification--is_draft',
]%}
{# TWIG #}
<div class="{{ classes|join(' ')|trim }}" data-nid="{{ id }}" {% if changed %} data-changed="{{ changed }}" {% endif %} {% if isDismissible is same as(true) %} role="alert" aria-live="polite" {% endif %}>
	<div class="d-flex">
		{{alertIcon}}
		<div class="alert-wrapper">
			<div class="fw-bold">
				{{label}}</div>
			<div>{{ content }}</div>
		</div>
		<div class="position-absolute end-0 top-0 m-2">
			<button type="button" class="top-0 end-0" data-dismiss="alert" aria-label="Dismiss notification">
				<i class="fa fa-times" aria-hidden="true"></i>
				<span class="sr-only">Dismiss</span>
			</button>
		</div>
	</div>
</div>
