{# Set Notification Type #}
{% if node.field_notification_serverity.value == 20 %}
	{% set Typename = 'warning' %}
{% else %}
	{% set Typename = 'information' %}
{% endif %}

{# Defaults #}
{% set isDismissible = isDismissible|default(TRUE) %}
{% set is_draft = is_draft|default(FALSE) %}

{% set alertIcon %}
{% include '@westy/icon/icon.twig' with{
	name: Typename,
	size: 'lg',
} only %}
{% endset %}

{# CLASSES #}
{% set classes= [
  'westy-notification',
  'text-dark',
  'p-3',
  'mt-3',
  'container',
  'bg-secondary',
  isDismissible ? 'westy-notification--dismissible',
  is_draft ? 'westy-notification--is_draft',
]%}
{# TWIG #}
<div class="{{ classes|join(' ')|trim }}" data-nid="{{ node.id }}" {% if node.changed %} data-changed="{{ changed }}" {% endif %} {% if isDismissible is same as(true) %} role="alert" aria-live="polite" {% endif %}>
	<div class="d-flex flex-row westy-notification__inner-wrapper">
		{{alertIcon}}
		<div class="westy-notification__inner">
			<div class="fw-bold westy-notification__title">
				{{label}}</div>
			<div class="westy-notification__content">{{ content }}</div>
			<div>{{node.changed}}
			</div>
			{% if isDismissible %}
				<div class="position-absolute end-0 mt-3 me-5">
					<button type="button" class="border-0 bg-secondary westy-notification__close" data-dismiss="alert" aria-label="Dismiss notification">
						<span aria-hidden="true" class="alert__close-contents">
							<i class="fa fa-times fa-lg" aria-hidden="true"></i>
							<span class="sr-only">Dismiss</span>
						</button>
					</div>
				{% endif %}
			</div>
		</div>
