{#
/**
 * @file
 * Template for a Node component.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  view_mode|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  {% if label and not page %}
    {{ title_prefix }}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
    {{ title_suffix }}
  {% endif %}

  {% if display_submitted %}
    <div class="node__meta">
      <div{{ author_attributes.addClass('node__submitted') }}>
        <p>
        {% trans %}
        Submitted by {{ author_name }}<br>
        Created on {{ date }}
        {% endtrans %}
        {% if updated %}
          {% trans %}<br>Updated on {{ updated }}<br>{% endtrans %}
        {% endif %}
        </p>
      </div>
    </div>
  {% endif %}

  <div{{ content_attributes.addClass('node__content') }}>
    {{ content }}
  </div>
</article>
