{#
/**
 * @file
 * Theme override to display an embedded document media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 * Available config:
 * - with_description: Whether to show the document's description.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set mimes_to_download = [
  'image/png',
  'image/svg+xml'
] %}
{% set mime_map = {
  'application/pdf': 'PDF',
  'application/msword': 'DOC',
  'application/vnd.openxmlformats-officedocument.wordprocessingml.document': 'DOCX',
  'application/vnd.openxmlformats-officedocument.wordprocessingml.template': 'DOTX',
  'application/vnd.ms-excel': 'XLS',
  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': 'XLSX',
  'application/vnd.ms-powerpoint': 'PPT',
  'application/vnd.openxmlformats-officedocument.presentationml.presentation': 'PPTX',
  'application/vnd.openxmlformats-officedocument.presentationml.slideshow': 'PPSX',
  'image/png': 'PNG',
  'image/svg+xml': 'SVG',
} %}
{% if content.field_mime_type.0['#context']['value'] %}
  {% set mime_type = content.field_mime_type.0['#context']['value'] %}
  {% set mime_type_friendly = mime_map[mime_type] ?? 'File' %}
{% else %}
  {% set mime_type_friendly = 'eFiles Record' %}
{% endif %}
{% if content.field_file_size.0 > 0 %}
  {% set file_size_friendly = content.field_file_size.0|render|striptags|format_size %}
{% endif %}

{% embed 'media.html.twig' with {
  attributes: with_description ? attributes.setAttribute('aria-describedby', 'desc-' ~ name|clean_class) : attributes,
} %}
  {% block content %}
    {% if content.field_mime_type.0|length > 0 %}
      {{- content.field_mime_type -}}<span class="visually-hidden">{{ mime_type_friendly }}</span>
    {% endif %}
    {% if content.field_media_media_remote['#object'] %}
      <a href="{{ content.field_media_media_remote.0 }}">{{ name }}</a>
    {% elseif content.field_media_document %}
      <a {{ mime_type in mimes_to_download ? 'download target="_blank"' : ''}} href="{{ content.field_media_document.0['#url'] }}">{{ name }}</a>
    {% endif -%}
    {% if content.field_mime_type.0|length == 0 %}
      ({{- mime_type_friendly -}})
    {% endif -%}
    {% if file_size_friendly %}
      ({{- file_size_friendly -}})
    {% endif %}
    {% if with_description %}
      {% if content.field_description %}
        <div id="desc-{{ name|clean_class }}" class="description">{{ content.field_description.0 }}</div>
      {% endif %}
      {{ content|without(
      'field_description',
      'field_media_document',
      'field_file_size',
      'field_mime_type',
      'field_media_media_remote'
      ) }}
    {% endif %}
  {% endblock %}
{% endembed %}
