{#
/**
 * @file
 * Theme override to display an embedded document media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set mime_map = {
  'application/pdf': 'PDF',
  'application/msword': 'DOC',
  'application/vnd.openxmlformats-officedocument.wordprocessingml.document': 'DOCX',
  'application/vnd.ms-excel': 'XLS',
  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': 'XLSX',
  'application/vnd.ms-powerpoint': 'PPT',
  'application/vnd.openxmlformats-officedocument.presentationml.presentation': 'PPTX',
} %}

{% set mime_type = mime_map[content.field_mime_type.0['#context']['value']] ?? 'File' %}

{%
  set classes = [
    'embed-document'
  ]
%}

<div{{attributes.addClass(classes)}} aria-describedby="{{ name|clean_class }}">

  {% if content.field_efiles_link['#object'] %}
    <a href="{{ content.field_efiles_link.0['#title'] }}">{{ name }}</a></h2>
  {% elseif content.field_media_document %}
    <h2><a href="{{ content.field_media_document.0 }}">{{ name }}</a></h2>
  {% endif %}

  <h2><a href="{{ content.field_media_document.0 }}">{{ name }}</a></h2>
  <div>{{ mime_type }} {{ content.field_file_size.0|render|striptags|format_size }}</div>
  {{ content|without(
    'name',
    'field_description',
    'field_media_document',
    'field_file_size',
    'field_mime_type'
    ) }}
  {% if content.field_description %}
    <div id="{{ name|clean_class }}" class="description">{{ content.field_description.0 }}</div>
  {% endif %}
</div>

