{#
/**
 * @file
 * Westy Layout for 2 column page hero
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--westy-two-column-page-hero',
    'row',
    'align-items-center',
    'justify-content-center',
    'position-relative',
    'mb-4',
    'px-5',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.main %}
      <div {{ region_attributes.main.addClass('layout__region', 'layout__region--main', 'col', 'd-flex', 'flex-column', 'py-5') }}>
        {{ content.main }}
      </div>
    {% endif %}
    <div class="w-100 d-lg-none"></div>
    {% if content.side %}
      <div {{ region_attributes.side.addClass('layout__region', 'layout__region--side', 'col', 'd-flex', 'justify-content-center') }}>
        {{ content.side }}
      </div>
    {% endif %}
  </div>
{% endif %}
