{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  {% embed '@radix/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fixed',
    color: 'light',
    utility_classes: ['bg-light'],
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block left %}
      {% if page.navbar_left %}
        <div class="mr-auto">
          {{ page.navbar_left }}
        </div>
      {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
        {{ page.navbar_right }}
        <form accept-charset="UTF-8" action="/search" class="form-inline" id="search-block-form" method="get">
          <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label form-group">
            <input class="form-search form-control" data-drupal-selector="edit-keys" id="edit-keys" maxlength="128" name="search" placeholder="Search" size="20" title="Enter the terms you wish to search for." type="search" value="" />
          </div>
          <div class="form-actions js-form-wrapper form-wrapper" data-drupal-selector="edit-actions" id="edit-actions">
            <input class="button js-form-submit form-submit btn btn-primary" data-drupal-selector="edit-submit" id="edit-submit" type="submit" value="Search" />
          </div>
        </form>
      {% endif %}
    {% endblock %}
  {% endembed %}

  <main class="container">
    {% if page.header %}
      <header class="page__header mb-3">
          {{ page.header }}
      </header>
    {% endif %}

    <div class="row">
    {% if page.content %}
      <div class="page__content col">
          {{ page.content }}
      </div>
    {% endif %}
    {% if page.side %}
      <div class="page__side col-lg-4 col-sm-12">
          {{ page.side }}
      </div>
    {% endif %}
    </div>
  </main>

  {% if page.footer %}
    <footer class="page__footer mt-5">
      <div class="container">
        <div class="d-flex justify-content-md-between align-items-md-center">
          {{ page.footer }}
        </div>
      </div>
    </footer>
  {% endif %}
</div>
