<div class="card border-2 rounded-0 h-100">
  <a href="{{ url }}">{{ content.field_featured_image }}</a>
  <div class="card-body">
    <h3 class="card-title h5"><a href="{{ url }}" class="text-primary">{{ name }}</a></h3>
    <div class="card-text">
      {{ content|without('field_featured_image') }}
    </div>
  </div>
</div>
