{%
  set classes = [
  'group',
  view_mode|clean_class,
  'mb-4',
  'pb-4',
  'border-bottom',
  'position-relative',
  'row',
]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="col-12 col-lg order-2 order-lg-1">
    <header>
      {{ title_prefix }}
      {% if label and not page %}
        <div class="node__top-wrapper">
          <h2 class="h4 mb-1">
            <a href="{{ url }}" class="stretched-link" rel="bookmark">{{ label }}</a>
          </h2>
        </div>
      {% endif %}
      {{ title_suffix }}
      {% if display_submitted %}
        <div class="node__meta">
          <span{{ author_attributes }}>
            {{ 'By'|t }} {% apply spaceless %}<span class="node__author">{{ author_name }}</span>{% endapply %}, {{ date }}
          </span>
          {{ metadata }}
        </div>
      {% endif %}
    </header>
    <div{{ content_attributes.addClass('node__content') }}>
      {{ content|without('field_featured_image', 'links') }}
    </div>
  </div>
  {% if content.field_featured_image|render|striptags|length > 0 %}
    <div class="col-12 col-lg-5 order-1 order-lg-2 mb-4 mb-lg-0">
      {{ content.field_featured_image }}
    </div>
  {% endif %}
</article>
